@import '../../../styles/variables';

$color: lightgray;
$svgSize: 80px;

.nomatches {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	svg {
		width: $svgSize;
		height: $svgSize;
		fill: $color;
	}

	&__label {
		font-size: 24px;
		line-height: 28px;
		color: $color;
		font-weight: 700;
	}
}
