$logoutColor: rgb(255, 76, 76);

.logout {
	display: flex;
	align-items: center;
	gap: 5px;
	color: $logoutColor !important;
	font-weight: 700;

	svg {
		width: 30px;
		height: 30px;
		fill: $logoutColor;
	}
}
