@import '../../../../styles/variables';

$imgSize: 120px;

.item {
	padding: 5px;
	display: flex;
	gap: 5px;
	cursor: pointer;

	&__image {
		min-width: $imgSize;
		max-width: $imgSize;
		min-height: $imgSize;
		max-height: $imgSize;

		img {
			object-fit: contain;
			object-position: center;
		}
	}
	&__content {
		flex-grow: 1;
	}
}
