@import '../../../../styles/variables';

$imgSize: 120px;

.item {
	width: 100%;
	padding: 5px;
	padding-right: 0;
	display: flex;
	gap: 10px;
	position: relative;
	background-color: white;
	transition: all 0.2s ease;
	border-bottom: 1px solid lightgray;

	@media (max-width: $breakpoint700) {
		flex-direction: column;
		justify-content: center;
	}

	&__image {
		align-self: start;
		min-width: $imgSize;
		max-width: $imgSize;
		min-height: $imgSize;
		max-height: $imgSize;
		width: $imgSize;
		height: $imgSize;
		background-color: white;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		@media (max-width: $breakpoint700) {
			align-items: center;
		}
	}
	&__title {
		display: flex;
		justify-content: space-between;
		text-align: center;
		&Text {
			margin-right: 10px;
			@media (max-width: $breakpoint700) {
				display: block;
			}
		}
		&Price {
			@media (max-width: $breakpoint700) {
				margin: 10px;
				font-size: 20px;
				margin-bottom: 5px;
			}
		}
		@media (max-width: $breakpoint700) {
			flex-direction: column;
		}
	}
	&__desc {
		margin-bottom: 5px;
		flex-grow: 1;
		overflow: hidden;
		height: 40px;
		text-overflow: ellipsis;
	}
	&__cart {
		padding-bottom: 5px;
		align-self: end;
	}
}
