@import '../../../../styles/variables';

$rounded: 3px;

.search {
	margin-right: 20px;
	flex-grow: 1;
	position: relative;
	display: flex;

	@media (max-width: $breakpoint700) {
		margin-right: 0;
	}

	&__input {
		padding: 4px;
		padding-left: 30px;
		border: 2px solid $lightgray;
		border-radius: $rounded;
		flex-grow: 1;
		transition: all 0.2s ease;
		&:focus {
			outline: none;
			border-color: $primary;
			& + svg {
				fill: $primary;
			}
		}

		@media (max-width: $breakpoint700) {
			padding-top: 3px;
			padding-right: 3px;
			padding-bottom: 3px;
		}
	}

	&__svg {
		height: 22px;
		width: 22px;
		fill: $lightgray;
		position: absolute;
		top: 50%;
		left: 5px;
		transform: translateY(-50%);
		transition: all 0.2s ease;
	}
}
