.tabs {
	display: flex;

	&__component {
		padding-top: 10px;
	}
}

.links {
	display: flex;
	gap: 5px;

	&__item {
		padding: 7px 15px;
		background-color: whitesmoke;
		border: 1px solid lightgray;
		cursor: pointer;
		user-select: none;
		&Active {
			background-color: white;

			border-left: 1px solid lightgray;
			border-right: 1px solid lightgray;
		}
	}
}
