$redColor: rgb(255, 76, 76);

.remove {
	display: flex;
	align-items: center;
	gap: 3px;

	svg {
		fill: $redColor;
	}
	span {
		font-weight: 500;
		color: $redColor;
	}
}
.lid {
	transform-origin: top center;
	animation-name: open-lid;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes open-lid {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-45deg);
	}
}
