@import '../../../../styles/variables';

.properties {
	&__controls {
		margin-bottom: 10px;
		display: flex;

		h3 {
			margin-bottom: 10px;
		}

		input {
			width: 300px;
			margin-right: 10px;
		}

		button {
			width: auto;
		}
	}
}

.table {
	width: 100%;
	border: 1px solid lightgray;
	border-collapse: collapse;
	th {
		background-color: $primary;
		color: white;
	}
	td:nth-child(2) {
		font-weight: 700;
	}
	&__cell {
		text-align: left;
		padding: 5px 10px;

		&::first-letter {
			text-transform: uppercase;
		}
	}
}
