.device {
	width: 100%;

	&__redirect {
		display: flex;
		align-items: center;
		gap: 5px;
		margin: 10px 0 20px;
		color: lightgray !important;
		svg {
			fill: lightgray;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}
