.checkbox {
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	user-select: none;

	input[type='checkbox'] {
		display: none;
	}

	input[type='checkbox']:checked + &__label {
		font-weight: 700;
	}

	&:hover {
		.checkbox__icon {
			border-color: gray;
		}
	}

	&__icon {
		width: 20px;
		height: 20px;
		border-radius: 3px;
		border: 1px solid lightgray;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.2s ease;

		svg {
			width: 20px;
			height: 20px;
		}
	}
	&__label {
		&::first-letter {
			text-transform: uppercase;
		}
	}
}
