.orders {
	font-weight: 400;
	&__filter {
		margin-bottom: 10px;
		display: flex;
		gap: 10px;
		input {
			flex-grow: 1;
			padding: 5px;
			border: 1px solid lightgray;

			clear: right;

			&:focus {
				border-color: gray;
				outline: none;
			}
		}
		&Refresh {
			width: 100px;
			button {
				height: 100%;
			}
		}
	}
}
