.filter {
	padding-top: 10px;
	padding-right: 20px;
	border-right: 1px solid lightgray;
}

.property {
	margin-bottom: 10px;

	h3 {
		&::first-letter {
			text-transform: uppercase;
		}
	}
	ul {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
}

.search {
	margin-bottom: 10px;
	input {
		padding: 5px;
		border: 1px solid lightgray;
		&:focus {
			border-color: gray;
			outline: none;
		}
	}
}
