@import '../../../styles/variables';

.form {
	margin-bottom: 20px;
	display: block;

	&__stars {
		margin-bottom: 10px;
	}

	&__message {
		padding: 5px 7px;
		resize: none;
		width: 100% !important;
		height: 100px;
		border: 1px solid lightgray;
		&:focus {
			border-color: $dark;
			outline: none;
		}
	}

	&__limit {
		margin-bottom: 10px;
		font-size: 12px;
		color: lightgray;
	}

	&__buttons {
		display: flex;
		justify-content: end;
		gap: 10px;
		button {
			width: auto;
		}
	}
}
