@import '../../../styles/variables';

$componentsWidth: 290px;
$gap: 20px;

.banner {
	margin-bottom: 40px;
	display: flex;
	gap: $gap;

	&__banner {
		width: calc(100% - $componentsWidth - $gap);
		@media (max-width: $breakpoint700) {
			display: none;
		}
	}

	&__components {
		min-width: $componentsWidth;
		padding: 0 10px;
		display: inline-flex;
		flex-direction: column;
		border: 1px solid lightgray;
		border-top: unset;
		background-color: rgb(252, 252, 252);
		@media (max-width: $breakpoint700) {
			margin-top: 20px;
			width: 100%;
			border: 1px solid lightgray;
		}
		li {
			border-bottom: 1px solid lightgray;
			&:last-child {
				border: unset;
			}
			a {
				letter-spacing: 3px;
				font-weight: 500;
				padding: 5px;
				display: block;

				&:hover {
					color: $primary;
				}
			}
		}
	}
}
