@import '../../../styles/variables';

.data {
	display: flex;
	flex-direction: column;
	gap: 10px;
	&__logout {
		align-self: end;
		display: flex;
		gap: 10px;

		@media (max-width: $breakpoint700) {
			flex-direction: column;
			align-items: end;
		}
	}
}
