@import '../../../styles/variables';

.form {
	width: 350px;
	padding: 15px;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	border-top: 5px solid $primary;
	background-color: white;
	@media (max-width: $breakpoint400) {
		width: 100vw;
		margin-left: -$container_padding;
		margin-right: -$container_padding;
		border-radius: 0;
	}
	&__title {
		font-size: 20px;
		margin-bottom: 20px;
		text-align: center;
	}
	&__item {
		margin-top: 10px;
		display: flex;
		align-items: center;
		gap: 10px;

		svg {
			fill: $secondary;
			width: 25px;
			height: 25px;
		}
	}
	&__submit {
		margin-top: 15px;
		display: flex;
		justify-content: end;
	}
	&__redirect {
		margin-top: 15px;
		text-align: center;
		font-weight: 500;
		a {
			color: $primary;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
