@import '../../../styles/variables';

.header {
	display: flex;
	justify-content: space-between;
	&__title {
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid lightgray;
		font-size: 24px;
		@include lineHeight(24);

		&::after {
			content: attr(data-amount);
			font-size: 14px;
			position: relative;
			left: 5px;
			bottom: 10px;
		}
	}
}
