.group {
	margin-top: 20px;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 20px;
	&__label {
		position: relative;
		display: inline;
		top: -30px;
		left: 0px;
		background-color: white;
		font-size: 24px;
	}
	&__content {
		margin-top: -20px;
	}
}
