// COLORS
$info: #00bcd4;
$warning: #ffd700;
$error: #ff0000;
$success: #00c020;

.item {
	padding: 10px;
	display: flex;
	position: relative;
	background-color: white;
	border-radius: 7px;
	box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.1);
	overflow: hidden;

	&__content {
		width: 100%;
		position: relative;
		color: inherit;
	}

	&__icon {
		margin-right: 10px;
		min-width: 35px;
		height: 35px;
		fill: inherit;
	}

	&__title {
		font-size: 16px;
		color: inherit;
		font-weight: 600;
	}

	&__message {
		font-size: 14px;
	}

	&__remove {
		position: absolute;
		top: 0;
		right: 0;
		background: transparent;

		svg {
			width: 15px;
			height: 15px;
			fill: lightgray;
		}
	}

	&__underline {
		border-bottom-width: 4px;
		border-bottom-style: solid;
		border-bottom-color: inherit;
		position: absolute;
		bottom: 0;
		left: 0;
		transition-property: width;
		transition-timing-function: linear;
	}

	&.INFO {
		color: $info;
		fill: $info;
		border-color: $info !important;
	}
	&.WARNING {
		color: $warning;
		fill: $warning;
		border-color: $warning;
	}
	&.ERROR {
		color: $error;
		fill: $error;
		border-color: $error;
	}
	&.SUCCESS {
		color: $success;
		fill: $success;
		border-color: $success;
	}
}
