@import '../../../styles/variables';

$svgSize: 30px;

.save {
	display: flex;
	align-items: center;
	gap: 5px;

	svg {
		height: $svgSize;
		width: $svgSize;
		fill: $primary;
	}
	span {
		color: $primary;
		font-weight: 700;
	}
}
