@import '../../../../styles/variables';

.page {
	padding: 3px 0;
	width: 30px;
	text-align: center;
	border-radius: 3px;
	transition: all 0.2s ease;
	user-select: none;
	cursor: pointer;

	&:hover {
		background-color: rgb(237, 237, 237);
	}
}

.page_selected {
	@extend .page;
	font-weight: 700;
	color: white;
	background-color: $primary !important;
}
