@import '../../../../styles/variables';

$rounded: 3px;

.result {
	width: 100%;
	position: absolute;
	top: calc(100% + 10px);
	background-color: #ffffff;
	border-radius: $rounded;
	box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	z-index: 20;

	&__nothing {
		margin: 20px 0;
		padding: 10px;
		color: lightgray;
		text-align: center;
		font-weight: 600;
	}

	&__error {
		color: red;
	}
}
