@import '../../../styles/variables';

$imgSize: 80px;
$spacing: 7.5px;
$priceSize: 16px;

.item {
	width: 100%;
	padding: $spacing;
	gap: $spacing;
	display: flex;
	position: relative;
	background-color: white;
	border-bottom: 1px solid lightgray;

	@media (max-width: $breakpoint700) {
		flex-direction: column;
	}

	&__image {
		padding: 5px;
		min-width: $imgSize;
		max-width: $imgSize;
		min-height: $imgSize;
		max-height: $imgSize;
		background-color: white;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}
	}
	&__content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
	&__title {
		display: flex;
		justify-content: space-between;
		&Text {
			font-size: 14px !important;
		}

		@media (max-width: $breakpoint700) {
			flex-direction: column;
		}
	}
	&__price {
		align-self: flex-end;
		font-size: $priceSize;
	}
	&__counter {
	}
	&__controls {
		flex-grow: 1;
		display: flex;
		gap: 10px;
		justify-content: end;

		@media (max-width: $breakpoint700) {
			justify-content: start;
			align-items: end;
			flex-direction: column;
		}
	}
}
