@import '../../styles/variables';

.footer {
	padding-top: 30px;
	background-color: $dark;

	&__content {
		width: 100%;

		&Row {
			display: flex;
			justify-content: space-between;
			gap: 50px;

			&:last-child {
				padding: 20px 0;
				border-top: 1px solid gray;
				p {
					width: 100%;
					text-align: right;
					color: gray;
					font-weight: 700;
					font-size: 24px;
					@include lineHeight(24);
					@media (max-width: $breakpoint700) {
						font-size: 20px !important;
						@include lineHeight(20);
					}
				}
			}

			@media (max-width: $breakpoint700) {
				justify-content: start;
				flex-wrap: wrap;
			}
		}

		&Links {
			margin-bottom: 20px;
			width: 100%;
			display: flex;
			justify-content: end;
			gap: 10px;

			@media (max-width: $breakpoint700) {
				margin-top: 20px;
			}
			li {
				a {
					padding: 10px;
					display: flex;
					align-items: center;
					justify-content: center;
					border: 2px solid gray;
					border-radius: 50%;
					transition: all 0.2s ease;
					svg {
						width: 25px;
						height: 25px;
						fill: gray;
						transition: all 0.2s ease;
					}
					&:hover {
						transform: translateY(-5px);
						border-color: lightgray;
						svg {
							fill: lightgray;
						}
					}
				}
			}
		}
	}
}
