@import '../../../../styles/variables';

.logo {
	margin-right: 20px;

	@media (max-width: $breakpoint700) {
		margin-right: 0;
	}

	&Desktop {
		@media (max-width: $breakpoint700) {
			display: none;
		}
	}
	&Mobile {
		display: none;
		@media (max-width: $breakpoint700) {
			display: inline;
		}
	}

	&__left,
	&__right {
		font-size: 32px;
		line-height: (32 * 1.5) + px;
		font-weight: 600;
		letter-spacing: 3px;

		@media (max-width: $breakpoint700) {
			font-size: 24px;
			line-height: (24 * 1.5) + px;
		}
	}

	&__left {
		color: $primary;
	}

	&__right {
		color: $secondary;
	}
}
