@import '../../../styles/variables';
@import '../../login/login-form/login-form.module.scss';

.form {
	@extend .form;
	position: relative;

	&__title {
		text-align: right;
		&Primary {
			font-size: inherit;
			color: $primary;
		}
	}

	&__back {
		position: absolute;
		left: 10px;
		top: 5px;
		font-weight: 700;
		color: gray;
		display: flex;
		align-items: center;

		svg {
			fill: gray;
		}
	}

	&__strength {
		margin-top: 5px;
		padding-left: 35px;
	}
}
