@import '../../../../../styles/variables';

.list {
	display: flex;
	flex-direction: column;

	&__header {
		display: flex;
		align-items: center;
		gap: 3px;
		padding: 5px;
		color: lightgray;
		font-weight: 600;

		svg {
			width: 15px;
			height: 15px;
			fill: lightgray;
		}
	}
}

.device {
	padding: 5px;
	display: flex;
	gap: 10px;
	cursor: pointer;

	&:hover {
		background-color: rgb(243, 243, 243);
	}

	&__image {
		padding: 5px;
		min-width: 100px;
		max-width: 100px;
		min-height: 100px;
		max-height: 100px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}
	}

	&__content {
		flex-grow: 1;
	}

	&__title {
		display: flex;
		justify-content: space-between;
		font-weight: 700;
		&::first-letter {
			text-transform: uppercase;
		}
	}

	&__exists {
		margin-left: 5px;
		font-size: 12px;
	}

	&__description {
		text-align: justify;
		&::first-letter {
			text-transform: uppercase;
		}
	}

	@media (max-width: $breakpoint700) {
		flex-direction: column;
	}
}
