@import '../../../styles/variables';

$totalSize: 24px;

.order {
	padding: 20px;
	margin-left: 20px;
	max-width: 400px;
	width: 100%;
	border-left: 1px solid lightgray;

	@media (max-width: $breakpoint900) {
		margin-left: 0;
		padding: 0;
		min-width: 100%;
		border: none;
	}

	&__total {
		margin-bottom: 10px;
		padding-bottom: 20px;
		display: flex;
		justify-content: space-between;
		font-size: $totalSize;
		border-bottom: 1px solid lightgray;
		span {
			font-size: inherit;
		}
	}

	&__list {
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__account {
		margin-bottom: 10px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__execute {
		margin-top: 20px;
		button {
			padding: 10px;
			font-size: 18px;
		}
	}
}
