@import '../../../../styles/variables';
@import '../../../_UI/button/button.module.scss';

.profile {
	@extend .button;
	width: unset;
	padding: 3px;
	display: flex;
	align-items: center;
	gap: 5px;
	&:hover {
		text-decoration: none !important;
	}
	&:active {
		.profile__svg {
			fill: $primary !important;
		}
		.profile__title {
			color: $primary !important;
		}
	}
	&__svg {
		fill: white !important;
	}
	&__title {
		display: block;
		font-weight: 600;
		color: white;
	}
}

.logout {
	margin-left: 5px;

	svg {
		fill: $secondary;
		width: 100%;
		height: 100%;
		transform: scale(0.8);
	}
}
