@import '../../../../styles/variables';

.profile {
	float: right;
	padding: 3px;
	background-color: $primary;
	border-radius: 3px;
	display: inline-flex;
	align-items: center;
	gap: 2px;

	&:hover {
		text-decoration: none !important;
	}

	&__svg {
		fill: white !important;
	}

	&__title {
		display: block;
		font-weight: 600;
		color: white;
	}
}
