.admin {
	margin-bottom: 20px;
	width: 100%;
}

$falseColor: rgb(255, 76, 76);
$falseSvgSize: 60px;

.false {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	svg {
		fill: $falseColor;
		height: $falseSvgSize;
		width: $falseSvgSize;
	}
	span {
		color: $falseColor;
		font-size: 32px;
		line-height: 1;
	}
}
