.purchase {
	position: relative;
	&__title {
		font-size: 24px;
		margin-bottom: 10px;
	}
	&__list {
		min-width: 320px;
		margin: 20px 0;
	}
}

$translate: 20px;

.loader {
	position: absolute;
	left: -$translate;
	top: -$translate;
	width: calc(100% + $translate * 2);
	height: calc(100% + $translate * 2);
	background-color: rgba(230, 230, 230, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}
