@import '../../styles/variables';

.purchase {
	width: 400px;
	position: relative;

	@media (max-width: $breakpoint700) {
		width: auto;
	}

	&__title {
		font-size: 24px;
		margin-bottom: 20px;
	}

	&__address {
		input {
			width: 400px !important;
		}
	}

	&__list {
		margin: 10px 0;
	}
	&__total {
		margin-bottom: 20px;
		font-size: 16px;
	}
	&__account {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-bottom: 20px;
	}
}

$translate: 20px;

.loader {
	position: absolute;
	left: -$translate;
	top: -$translate;
	width: calc(100% + $translate * 2);
	height: calc(100% + $translate * 2);
	background-color: rgba(230, 230, 230, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}
