.full {
	width: 100%;

	&__back {
		margin-bottom: 30px;
		display: flex;
		align-items: center;
		gap: 20px;
		button {
			width: auto;
		}
		a {
			font-size: 20px;
			line-height: 1;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 20px;

		&Field {
			display: flex;
			align-items: center;
			gap: 10px;

			& > span {
				width: 160px;
			}

			input {
				padding: 5px;
				border: 1px solid lightgray;
				border-radius: 5px;
				&:focus {
					border-color: gray;
					outline: none;
				}
			}
		}
	}

	&__controls {
		position: absolute;
		bottom: 0;
		right: 0;
		display: flex;
		justify-content: end;
		flex-direction: column;
		gap: 10px;
		button {
			width: 200px;
		}
	}
}
